*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #c2c2c2;
  background: #FAFAFA;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1046px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}
.header {
position: absolute;
width: 100%;
left: 0;
top: 0;
z-index: 50;
}
.header__container {
display: flex;
min-height: 104px;
align-items: center;
}
@media (max-width: 479px) {
  .header__container {
  min-height: 85px;
  }
}
.header__logo {
font-size: 24px;
font-weight: 700;
color: inherit;
}
.header__menu {
margin: 0 0 0 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
  }
@media (max-width: 767px) {
    .header__menu {
      margin: 0 0 0 40px;
    }
}
.menu {
padding: 5px 0;
}
.menu__list {
display: flex;
flex-wrap: wrap;
}
.menu__item {

}
.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 479px) {
  .header__menu {
    font-size: 18px;
  }
}
/*  PAGE................................................ ....................*/
.page {
flex: 1 1 auto;
}
.page__main-block{
}
.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients {
  margin: 0 0 10px 0;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
/*  HEADER-BLOCK........................................................................*/

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
  
}
.header-block__title {
  color: #252B42;
  font-size: 40px;
  line-height: 142%;
  font-weight: 700;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.header-block__sub-title {
  color: #737373;
  font-size: 14px;
  line-height: 142%;
}
@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}
/* Подвал ......................................................................*/
.footer {
}
/* Main-Block */
.main-block {
position: relative;
}
.main-block__container {

}
.main-block__body {
padding: 184px 0 191px 0;
position: relative;
z-index: 2;
max-width: 400px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}
.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
  max-width: 509px;
  letter-spacing: 0.2px;
}
@media (max-width: 479px) {
  .main-block__title {
  font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 1.5;
  max-width: 376px;
}
@media (max-width: 479px) {
  .main-block__text {
   color: rgb(59, 59, 59);
  }
}
.main-block__buttons {
display: flex;
flex-wrap: wrap;
margin: -10px 0;
}
.main-block__button {
  
  border-radius: 37px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
}

@media (max-width: 479px) {
  .main-block__button  {
   flex: 1 1 auto;
  } 
}
.main-block__button:not(:last-child) {
  margin-right: 10px;
}
.main-block__button__orange {
  background: #FF7B47;
  color: #fff;
}
.main-block__button__orange:hover {
  background-color: #fff;
  color: #FF7B47;
}
.main-block__button__border {
  border: 1px solid #0D5C63;
  color: #0D5C63;
}
.main-block__button__border:hover{
  background-color: #0D5C63;
  color: #fff;
}
.main-block__image {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/* ................................................. */
.services{
  
}
.services__container {

}
.services__body {
 
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -35px;
  }
}
.services__column {
  
  flex: 0 1 33.333%;
  
}

@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
}
.services__item {
box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
background-color: #fff;
padding: 35px 40px;
height: 100%;
}
.item-service {
}
.item-service__green {
  background-color: #0D5C63;
  }
.item-service > *:not(:last-child) {
margin: 0 0 10px 0;
}
.item-service__green .item-service__title {
  color: #fff;
}
.item-service__green .item-service__text {
  color: #fff;
}
.item-service__icon {}
.item-service__title {
font-weight: 700;
font-size: 24px;
line-height: 133%;
letter-spacing: 0.2px;
}
.item-service__text {
font-size: 14px;
line-height: 142%;
color: #737373;
}
/* ............................................ */
.advantages {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}
/* @media (max-width: 767px) {
  .advantages {
    padding: 30px 0px;
  }
} */
.advantages__container {

}
.advantages__header {
margin: 0 0 50px 0;
}
@media (max-width: 767px) {
  .advantages__header {
    margin: 0 0 25px 0;
  }
}
.advantages__body {
display: flex;
flex-wrap: wrap;
margin: 0px -15px -30px;
}
.advantages__column {
  margin: 0 0 30px 0;
padding: 0px 15px;
flex: 0 1 25%;
}
@media (max-width: 1020px) {
  .advantages__column {
flex: 1 0 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
flex: 1 0 100%;
  }
}
.advantages__item {
background-color: #fff;
padding: 30px;
text-align: center;
font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.advantages__icon {
height: 48px;
display: flex;
align-items: flex-end;
justify-content: center;
}
.advantages__value {
font-size: 40px;
line-height: 142%;
}
.advantages__text {
font-size: 16px;
line-height: 150%;
color: #737373;
}


/* ..................................................................... */
.practice {
  padding: 125px 0 80px 0;
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0 40px 0;
  }
}
.practice__header {
margin: 0 0 45px 0;
}
@media (max-width: 767px) {
  .practice__header {
    margin: 0 0 25px 0;
    }
}
.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}
.practice__column {
  margin: 0 0 30px 0;
  padding: 0 20px;
  flex: 0 1 25%;
}
@media (max-width: 1060px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}
.practice__item {
  
}
.item__practice {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item__practice__content {
padding: 30px;
flex: 1 1 auto;
}
.item__practice__link {
color: inherit;
display: inline-block;
}
.item__practice__link:not(:last-child) {
  margin: 0 0 15px 0;
}
.item__practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;

}
.item__practice__text {
color: #737373;
line-height: 142%;
}
.item__practice__image {
  display: block;
padding: 0 0 60% 0px;
}



/* ......................................................................... */
.whoweare {
padding: 80px 0 130px 0;
background-color: #fff;
}
.whoweare__container{
}
.whoweare__header {
  margin: 0 0 100px 0;
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}
.whoweare__video iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}
.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
}
.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.whoweare__text {
  color: #737373;
  font-size: 14px;
  line-height: 142%;
}
.whoweare__items {
  margin: 50px 0 0 0;
}
.whoweare__item {

}
.whoweare__item:not(:last-child) {
  margin: 0 0 30px 0;
}
.item__whoweare {
  display: flex;
}
.item__whoweare__icon {
  flex: 0 0 32px;
}
.item__whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}
.item__whoweare__title{
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item__whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}
.item__whoweare__text {
  color: #737373;
  line-height: 142%;
  white-space: nowrap;

}
@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0 0 50px;
  }
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }
  .whoweare__header {
    margin: 0 0 30px 0;
  } 
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
    }
    .whoweare__content {
      padding: 0px 0 0 0px;
    }
    .whoweare__video {
      padding: 0 0 56.25% 0;
    }
    .whoweare__video:not(:last-child) {
      margin: 50px 0 0px 0;
    }
    .whoweare__title {
      font-size: 24px;
    }
}

/* .................................................... */
.clients {
padding: 50px 0;
}
.clients__container {

}
.clients__items {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 30px;
}
.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}
.clients__item img {
  max-width: 100%;
}
@media (max-width: 767px) {
 .clients {
  padding: 30px 0;
  }
}


/* ................................ ...............*/
.subscribe {
position: relative;
padding-bottom: 20px;
}
.subscribe::before{
  content:"";
  position: absolute;
  background: #252B42;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
}
.subscribe__container {

}
.subscribe__body {
  position: relative;
  z-index: 2;
padding: 30px 50px;
align-items: center;
background: #17213C;
border-radius: 2px;
}
.subscribe__title {
font-size: 24px;
line-height: 133%;
letter-spacing: 0.1px;
color: #FFFFFF;
font-weight: 700;
}
.subscribe__form {
flex: 0 1 50%;
display: flex;
align-items: center;
}
.subscribe__input {
flex: 1 1 auto;
min-height: 58px;
padding: 0 20px;
background: #F9F9F9;
border: 1px solid #E6E6E6;
border-right: 0 ;
box-sizing: border-box;
border-radius: 5px 0 0 5px;
color: #737373;
width: 100%;

}
.subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 22px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.subscribe__button:hover {
  background: #ff4800;
}
@media (min-width: 1070px) {
  .subscribe__body {
  margin: 0 30px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
    }
    .subscribe__title {
      max-width: 266px;
    }
}
@media (max-width: 810px) {
  .subscribe__title {
    margin: 0 0 20px 0;
  }
  .subscribe__body {
    margin: 0 -15px;
    padding: 20px 25px;
  }
}

/* ........................................ */
.getintouch {
padding: 80px 0 236px 0;
}
.getintouch__container {

}
.getintouch__header {
margin: 0 0 80px 0;
}
.getintouch__items {
  margin: 0 -15px;
}
@media (min-width:992px) {
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
@media (max-width:992px) {
  .getintouch__header {
    margin: 0 0 50px 0;
    }
    .getintouch {
      padding: 50px 0 50px 0;
      }
}
@media (max-width:767px) {
  .getintouch__header {
    margin: 0 0 30px 0;
    }
}
.getintouch__item {
flex: 0 1 33.33%;
}
.item__getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
}
.item__getintouch > *:not(:last-child)  {
  margin: 0 0 15px 0;
}
.item__getintouch__icon {

}

.item__getintouch__emails{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.item__getintouch__email {
color: inherit;
font-weight: 600;
line-height: 150%;
font-size: 16px;
}
.item__getintouch__email:hover{
text-decoration: underline;
}
.item__getintouch__label {
font-weight: 700;
font-size:  16px;
line-height: 150%;
}
.item__getintouch__button {
  border: 1px solid #FF7B47;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF7B47;
  line-height: 144%;
  text-align: center;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.item__getintouch__button:hover {
  background-color: #FF7B47 ;
  color: #fff;
}
.item__getintouch__active {
  background: #252B42;
  color: #fff;
  padding: 80px 15px;
}
.item__getintouch__active .item__getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}
.item__getintouch__active .item__getintouch__button:hover {
  background-color: #FF7B47 ;
  color: #fff;
}

/* .................................... */
.contact {
  background: #fff;
  padding: 42px 0;
}
.contact__container {

}

@media (min-width: 767px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .contact__content {
      padding: 0 20px 0 0;
      }
}
.contact__content {
padding: 0 0 20px 0;
}
.contact__title {
font-weight: 700;
font-size: 24px;
letter-spacing: 0.1px;
line-height: 133%;
}
.contact__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.contact__text {
  color: #737373;
  line-height: 142%;

}
.contact__button {
display: flex;
background: #FF7B47;
border-radius: 5px;
min-height: 58px;
padding: 5px 40px;
justify-content: center;
align-items: center;
text-align: center;
color: #FFFFFF;
transition: all 0.3s ease 0s
}
.contact__button:hover {
  background: #ff4800;
}

/* .................................. */
.footer {
}
.footer__top {
  background: #17213C;
  padding: 30px 0;
}
.footer__main {
}
.footer__row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.footer__column {
flex: 0 1 16.6667%;
padding: 20px 15px;
}
@media (max-width:992px) {
  .footer__column {
    flex: 0 1 25%;
    }
    .footer__column:last-child {
      flex: 0 1 100%
    }
}
@media (max-width:992px) {
  .footer__column {
    flex: 0 1 50%;
    }
    .footer__column:last-child {
      flex: 0 1 100%
    }
}
.footer__column:last-child {
  flex: 0 1 33.334%
}
.footer__label {
  color: #fff;
  font-weight: 700;
  font-style: 16px;
  line-height: 150%; 
  margin: 0 0 20px 0;
}
.footer__menu {
}
.menu-footer {
}
.footer__list {
}
.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}
.menu-footer__link {
  display: inline-block;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 170%;

}
.menu-footer__link:hover {
text-decoration: underline;
}

.footer__contacts {
  
}
.contacts-footer {
  display: flex;
  flex-direction: column;
}
.contacts-footer__item {
  padding: 0 0 0 34px;
  display: flex;
  align-items: center;
  min-height: 30px;
  color: #fff;
  line-height: 142%;
}
.contacts-footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}
.contacts-footer__item__phone {
  background: url(/mainBlock/footer/1.svg) 0 0 no-repeat;
}
.contacts-footer__item__map {
  background: url(/mainBlock/footer/2.svg) 0 0 no-repeat;
}
.contacts-footer__item__email {
  background: url(/mainBlock/footer/3.svg) 0 0 no-repeat;
}
.footer__bottom {
  padding: 25px 0;
}

.footer__container {
display: flex;
justify-content: space-between;
align-items: center;
}

@media (max-width:767px) {
  .footer__container {
  flex-direction: column;
  }
  .footer__copy {
    margin: 0 0 15px 0;
    text-align: center;
  }
}

.footer__copy {
  font-size: 14px;
  line-height:171% ;
  letter-spacing: 0.2px;
  color: #737373;
  
}
.footer__social {
}
.social {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin: 0 20px 0 0px;
}
